.wrapper {
  padding: 260px 64px;
  background-color: #101828;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../assets/images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 48px;
  line-height: 0.67;
  color: var(--color-heading);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--color-heading);
  margin-bottom: 40px;
}
